<div style="max-width: 920px; margin: 0 auto;">
    <div class="artist__masthead">
        <h2 class="artist__header">{{artist.name}}</h2>
    </div>
    {{#if this.tracks}}
    <table class="chart-table columns-2">
        <thead>
            <tr>
                <th>Track</th>
                <th class="chart-table__count">Play count</th>
            </tr>
        </thead>
        <tbody>
            {{#each this.tracks}}
            <tr>
                <td>
                    <a href="/tracks/{{this.id}}">{{this.name}}</a>
                </td>
                <td class="chart-table__count">
                    {{this.total}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{/if}}
</div>
