<h2>Charts for {{datestamp}}</h2>

{{#if this.bowieTracks}}
<h3>
    <span>Top 10 Bowie tracks</span>
</h3>
<table class="chart-table columns-2">
    <thead>
        <tr>
            <th>Track</th>
            <th class="chart-table__count">Plays</th>
        </tr>
    </thead>
    <tbody>
        {{#each bowieTracks}}
        <tr>
            <td>
                <a href="/tracks/{{this.id}}">{{this.name}}</a>
            </td>
            <td class="chart-table__count">
                {{this.total}}
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{/if}}

<h3>
    <span>Top 10 artists</span>
</h3>

{{#if this.artists}}
    {{> charts/artist items=this.artists}}
{{/if}}

<h3>
    <span>Top 10 tracks</span>
</h3>

{{#if this.tracks}}
    {{> charts/track items=this.tracks}}
{{/if}}
