<div class="home">
    {{#if auth.isAuthenticated}}
        <p>Hello {{auth.name}}</p>
    {{/if}}
    <div class="dashboard">
    {{#each totals.tracks}}
        <div class="dashboard-card">
            <span class="dashboard-value">{{number this.total}}</span>
            <span class="dashboard-content">
                tracks played
                {{#if (eq this.period "day")}}today{{/if}}
                {{#if (eq this.period "week")}}this week{{/if}}
                {{#if (eq this.period "month")}}this month{{/if}}
                {{#if (eq this.period "year")}}this year{{/if}}
            </span>
        </div>
    {{/each}}
    </div>
</div>
