<div class="home">
    {{#if auth.isAuthenticated}}
        <p>Hello {{auth.name}}</p>
    {{/if}}
    <div class="dashboard">
        <h2 class="heading-2">Tracks</h2>
    {{#each totals.tracks}}
        <div class="dashboard-card">
            <span class="dashboard-value">{{number this.total}}</span>
            <span class="dashboard-content">
                tracks played
                {{#if (eq this.period "day")}}today{{/if}}
                {{#if (eq this.period "week")}}this week{{/if}}
                {{#if (eq this.period "month")}}this month{{/if}}
                {{#if (eq this.period "year")}}this year{{/if}}
            </span>
        </div>
    {{/each}}
        <h2 class="heading-2">Duration</h2>
    {{#each totals.durations}}
        <div class="dashboard-card">
            {{#if (eq this.duration 0)}}
                <span class="dashboard-value">0 minutes</span>
            {{/if}}
            {{#unless (eq this.duration 0)}}
                <span class="dashboard-value">{{readable-duration this.duration}}</span>
            {{/unless}}
            <span class="dashboard-content">
                {{#if (eq this.period "day")}}of music played today{{/if}}
                {{#if (eq this.period "week")}}of music played this week{{/if}}
                {{#if (eq this.period "month")}}of music played this month{{/if}}
                {{#if (eq this.period "year")}}of music played this year{{/if}}
            </span>
        </div>
    {{/each}}
        <h2 class="heading-2">David Bowie</h2>
    {{#each totals.bowie}}
        <div class="dashboard-card">
            <span class="dashboard-value">{{number this.total}}</span>
            <span class="dashboard-content">
                <a href="/artists/160">David Bowie</a> tracks played
                {{#if (eq this.period "day")}}today{{/if}}
                {{#if (eq this.period "week")}}this week{{/if}}
                {{#if (eq this.period "month")}}this month{{/if}}
                {{#if (eq this.period "year")}}this year{{/if}}
            </span>
        </div>
    {{/each}}

        <h2 class="heading-2">Top tracks played this week</h2>
        {{> chart topTracks}}

        <h2 class="heading-2">Top artists played this week</h2>
        {{> chart topArtists}}
    </div>
</div>
