<html>
  <head>
    <title>Have I Played Bowie Today?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      * {
        margin: 0;
        padding: 0;
      }

      body {
        line-height: 1.5;
      }

      main {
        align-items: center;
        display: flex;
        flex-direction: column;
        font-family: sans-serif;
        height: 100%;
        justify-content: center;
      }

      .question {
        font-size: 1rem;
        font-weight: normal;
      }

      .answer {
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <main>
      <h1 class="question">Have I Played Bowie Today?</h1>
      <span class="answer">No</span>
    </main>
  </body>
</html>
