<html>
  <head>
    <title>Have I Played Bowie Today?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      * {
        margin: 0;
        padding: 0;
      }

      body {
        font-family: sans-serif;
        line-height: 1.5;
      }

      header {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 25vh;
        justify-content: center;
      }

      .question {
        font-size: 1rem;
        font-weight: normal;
      }

      .answer {
        font-weight: bold;
      }

      .tracks {
        margin: 0 1rem;
      }

      .tracks li {
        align-items: center;
        display: flex;
        flex-direction: row;
        margin: 2rem 0;
      }

      .track-name {
        margin-left: 1rem;
        order: 2;
      }

      .track-cover {
        border-radius: 50%;
        order: 1;
      }

      @media screen and (min-width: 40rem) {
        .tracks {
          margin: 0 auto;
          max-width: 40rem;
        }
      }
    </style>
  </head>
  <body>
    <main>
      <header class="have-i-played">
        <h1 class="question">Have I Played Bowie Today?</h1>
        <span class="answer">Yes, you starman!</span>
      </header>
      <ol class="tracks">
        {{#each tracks}}
        <li>
          <span class="track-name">{{track.name}}</span>
          <img class="track-cover" src="{{album.image}}" alt="{{album.name}}" width="100" height="100" />
        </li>
        {{/each}}
      </ol>
    </main>
  </body>
</html>
