<!DOCTYPE html>
<html>
    <head>
        <title>Have I Played Bowie Today?</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/assets/css/main.css">
    </head>
    <body>
        <header class="site-header">
            <a href="/">
                <h1 class="site-name">Have I Played Bowie Today?</h1>
            </a>
            <nav class="site-nav">
                <a href="/diary">Diary</a>
                <a href="/charts/2019">Charts</a>
                <a href="/about">About</a>
            </nav>
        </header>
        <main>
            {{{content}}}
        </main>
        <footer>
            <p>Made by <a href="https://www.ianhuntington.co.uk">Ian Huntington</a>. Listening history is liberated from <a href="https://www.last.fm/user/bobbyparkhurst">Last.fm</a> with additional track and artist details from Spotify.</p>
        </footer>
    </body>
</html>
