<!DOCTYPE html>
<html>
    <head>
        <title>Have I Played Bowie Today?</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            body {
                font-family: "Segoe UI", sans-serif;
            }

            h1 {
                font-size: 1.5rem;
            }

            h2 {
                font-size: 1rem;
                font-weight: bold;
            }

            ul {
                padding-left: 0;
            }

            li {
                list-style: none;
            }

            li {
                margin: 0;
            }

            th {
                text-align: left;
            }

            td {
                vertical-align: top;
            }
        </style>
    </head>
    <body>
        <header>
            <h1><a href="/">Have I Played Bowie Today?</a></h1>
            <nav>
                <a href="/charts/2019">2019 Charts</a>
            </nav>
        </header>
        <main>
            {{{content}}}
        </main>
        <footer>
            <p>Made by <a href="https://www.ianhuntington.co.uk">Ian Huntington</a>. Listening history is liberated from <a href="https://www.last.fm/user/bobbyparkhurst">Last.fm</a> with additional track and artist details from Spotify.</p>
        </footer>
    </body>
</html>
