:root {
    --colour-grey-light: hsl(0, 0%, 93.3%);
    --colour-pink-medium: hsl(318, 58.3%, 47.1%);
    --colour-blue-medium: hsl(202.3, 58.3%, 47.1%);
    --card-unit-height: 24px;
    --logo-radius: 32px;
    --event-unit-height: calc(1rem * 12);
}

@font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url("/assets/fonts/Inter-roman.var.woff2?v=3.15") format("woff2");
}

@font-face {
font-family: 'Inter var';
font-weight: 100 900;
font-display: swap;
font-style: italic;
font-named-instance: 'Italic';
src: url("/assets/fonts/Inter-italic.var.woff2?v=3.15") format("woff2");
}

html {
    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif;
    }
}

body {
    background: var(--colour-grey-light);
    font-weight: normal;
    font-style: normal;
    line-height: 1.5;
    margin: 0;
}

.screen-reader {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
}

a {
    color: #070707;
    text-decoration: underline;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1rem;
    font-weight: bold;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

li {
    margin: 0;
}

.site-header {
    align-items: center;
    display: grid;
    gap: 16px;
    grid-template-areas: "logo nav";
    grid-template-columns: calc(2 * var(--logo-radius)) auto;
    padding: 16px;
}

.site-name {
    background: #070707;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    flex: 0;
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
    padding: .5rem 1rem;
}

.site-logo {
    background: var(--colour-pink-medium);
    border-radius: 9999px;
    display: block;
    height: calc(2* var(--logo-radius));
    width: calc(2 * var(--logo-radius));
}

.site-nav a {
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    padding: .25rem;
}

.site-nav a:not(:last-of-type) {
    margin-right: 8px;
}

@media (min-width: 32rem) {
    .site-header {
        display: flex;
    }

    .site-nav {
        align-items: center;
        border-bottom: 0;
        display: flex;
        flex: 1 1 auto;
        margin-left: 1rem;
        padding: 0;
    }
}

.site-body {
    margin: 0 1rem;
}

.site-footer {
    border-top: 2px solid black;
    margin: 3rem 1rem 1rem;
}

h2 {
    font-size: 2rem;
    font-weight: 500;
}

.heading-2 {
    font-size: 1.25rem;
    margin: 2.5rem 0 0;
}

h3 {
    align-items: center;
    display: flex;
    font-size: 1rem;
    font-weight: 600;
    margin: 1rem 0;
}

h3::before,
h3::after {
    background: #070707;
    content: '';
    display: block;
    flex: 1 1 auto;
    height: 2px;
    width: auto;
}

h3 span {
    border-radius: 3px;
    background: #070700;
    color: #fff;
    display: inline-block;
    flex: 0 0 auto;
    padding: .5rem 1rem;
}

.chart-table {
    border-bottom: 1px solid hsl(0, 0%, 2.7%);
    border-collapse: collapse;
    width: 100%;
}

.chart-table th, .chart-table td {
    padding: .5rem 1rem;
    text-align: left;
    vertical-align: top;
}

.chart-table thead th {
    border-bottom: 1px solid hsl(0, 0%, 2.7%);
    font-weight: 600;
}

.chart-table tr:nth-child(even) td {
    background: hsla(0, 0%, 0%, 0.1);
}

.columns-3 thead th:nth-child(2),
.columns-3 tbody td:nth-child(2) {
    display: none;
}

.columns-3 tbody .a11y-when-small {
    display: block;
}

.chart-table__count {
    width: 25%;
}

.event {
    background: hsl(255, 100%, 100%);
    display: grid;
    grid-area: events;
    grid-template-rows: auto 1rem;
    grid-template-areas:
        "content"
        "meta";
    min-height: var(--card-unit-height);
    position: absolute;
    width: 100%;
    z-index: 2;
}

.event::before {
    background: hsl(149, 60%, 70%);
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    top: 0;
    width: 100%;
}

.event-body {
    display: flex;
    flex-direction: column;
    grid-area: content;
    overflow-x: hidden;
    margin: .25rem .5rem;
}

.event-time {
    background: hsl(149, 60%, 70%);
    font-feature-settings: 'kern' 1, 'tnum' 1;
    font-size: 14px;
    left: -44px;
    padding: 2px 2px 0;
    position: absolute;
    top: 0;
}

.hour {
    display: grid;
    grid-template-columns: 90px auto;
    grid-template-areas: "times events";
    min-height: var(--event-unit-height);
    position: relative;
}

.hour::before {
    background: hsl(0, 0%, 80%);
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    top: 0;
    width: 100%;
}

.hour-time {
    font-feature-settings: 'kern' 1, 'tnum' 1;
}

.event-duration {
    align-self: flex-end;
    display: inline-block;
    font-size: .75rem;
    grid-area: meta;
    margin: 0 .25rem;
    padding: .125rem .25rem;
}

.event-track-name,
.event-artist-name {
    display: inline-block;
    font-weight: 600;
    white-space: nowrap;
}

.event-artist-name {
    font-size: 0.875rem;
    font-weight: 400;
}

.separator {
    display: none;
}

.form-container {
    margin: 0 auto;
    max-width: 57.5rem;
}

.form-actions {
    padding: 1.5rem 0 0;
}

.form-field--error {
    border-left: 3px solid red;
    padding-left: 1rem;
}

.form-label {
    display: block;
    font-size: 1.25rem;
    line-height: 1.5;
    padding-bottom: .5rem;
}

.form-input {
    box-sizing: border-box;
    border: 3px solid #333;
    font-size: 1.25rem;
    line-height: 1.5;
    padding: .5rem;
    width: 100%;
}

.form-input:focus {
    outline: 3px solid orange;
}

.form-input:invalid {
    /* outline: 3px solid orange; */
    outline: 0;
}

.form-input:valid {
    outline: 0;
}

.form-field__message {
    padding: 0 0 .5rem;
}

.form-field__message p {
    line-height: 1.5;
    margin: 0;
}

.form-error-message {
    color: red;
    font-weight: bold;
    padding: .5rem 0;
}

.form-error-message p {
    line-height: 1.5;
    margin: 0;
}

.form-button {
    background: #070707;
    border: 0;
    border-radius: 3px;
    color: #fff;
    font-size: 1rem;
    line-height: 1.5;
    padding: .5rem 1rem;
}

.dashboard {
    display: grid;
    gap: 1rem;
}

.dashboard-card {
    border: 3px solid hsla(0, 0%, 0%, 1);
    border-radius: 8px;
    display: block;
    padding: 1rem;
}

.dashboard-value {
    color: var(--colour-blue-medium);
    display: block;
    font-size: 32px;
    font-weight: 700;
    line-height: 1;
}

.dashboard-content {
    font-size: 20px;
    font-weight: 300;
}

.diary-pagination {
    display: flex;
    justify-content: space-between;;
}

.charts-years {
    border-top: 1px solid hsl(0, 0%, 2.7%);
    border-bottom: 1px solid hsl(0, 0%, 2.7%);
    margin-top: 1rem;
    padding: 1rem 0;
}

.charts-years ol {
    display: flex;
    margin: 0;
    padding: 0;
}

.charts-years li:not(:last-of-type) {
    margin-right: 1rem;
}

.text-base {
    font-size: 1rem;
    line-height: 1.5;
    margin: 0 0 4px;
}

@media (min-width: 32rem) {
    .columns-2 th,
    .columns-2 td {
        width: 50%;
    }

    .chart-table__count {
        text-align: left;
    }
}

@media (min-width: 40rem) {
    .chart-table.columns-3 thead th:nth-child(2),
    .chart-table.columns-3 tbody td:nth-child(2) {
        display: table-cell;
    }

    .chart-table.columns-3 tbody .a11y-when-small {
        display: none;
    }

    .chart-table.columns-3 th,
    .chart-table.columns-3 td {
        width: calc(100% / 3);
    }
}
