<section>
    <h2>BBC Sounds integration</h2>
    <p>Save what you listen to on BBC Sounds to Have I Played Bowie Today with this handy bookmarklet. Drag the following link to your bookmark bar:</p>
    <p>
        <a href="javascript:function hipbt(){var t=document.body,e=document.createElement('script');try{e.setAttribute('src','{{APP_URL}}/bookmarklet/sounds.js'),e.setAttribute('type', 'module'),e.setAttribute('async',!0),e.setAttribute('defer',!0),t.appendChild(e)}catch(t){alert('Failed to load HIPBT bookmark')}} hipbt(); void(0)">Save from BBC Sounds</a>
    </p>
</section>
