<div>
    <p>To start using your account you need to add a username</p>
    <div class="form-container">
        <form method="POST" action="/temp">
            <input type="hidden" name="uid" value="123" />
            <div class="form-field">
                <label class="form-label" for="username">Username</label>
                <input class="form-input" type="text" name="username" id="username" required minlength="2" maxlength="50" />
                <div class="form-error">
                    <p>The username is not available. You will need to think of another one.</p>
                </div>
            </div>
            <div class="form-actions">
                <button class="form-button" type="submit">Save and continue</button>
            </div>
        </form>
    </div>
</div>
