:root {
    --card-unit-height: 24px;
    --event-unit-height: calc(1rem * 12);
}

body {
    background: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1.5;
}

a {
    color: #070707;
    text-decoration: underline;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1rem;
    font-weight: bold;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

li {
    margin: 0;
}

.site-name {
    background: #070707;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    flex: 0;
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
    padding: .5rem 1rem;
}

.site-nav {
    border-bottom: 1px solid hsl(0, 0%, 2.7%);
    padding: .5rem 0;
}

.site-nav a {
    display: inline-block;
    margin: 0 .5rem;
    padding: .125rem;
}

.site-nav a:first-of-type {
    margin-left: 0;
}

@media (min-width: 32rem) {
    .site-header {
        display: flex;
    }

    .site-nav {
        align-items: center;
        border-bottom: 0;
        display: flex;
        flex: 1 1 auto;
        margin-left: 1rem;
        padding: 0;
    }
}

h2 {
    font-size: 2rem;
    font-weight: 500;
}

h3 {
    align-items: center;
    display: flex;
    font-size: 1rem;
    font-weight: 600;
    margin: 1rem 0;
}

h3::before,
h3::after {
    background: #070707;
    content: '';
    display: block;
    flex: 1 1 auto;
    height: 2px;
    width: auto;
}

h3 span {
    border-radius: 3px;
    background: #070700;
    color: #fff;
    display: inline-block;
    flex: 0 0 auto;
    padding: .5rem 1rem;
}

.chart-table {
    border-bottom: 1px solid hsl(0, 0%, 2.7%);
    border-collapse: collapse;
    margin-bottom: 3rem;
    width: 100%;
}

.chart-table th, .chart-table td {
    padding: .5rem 1rem;
    text-align: left;
    vertical-align: top;
}

.chart-table thead th {
    border-bottom: 1px solid hsl(0, 0%, 2.7%);
    font-weight: 600;
}

.chart-table tr:nth-child(odd) td {
    background: hsl(0, 0%, 95%);
}

.columns-3 thead th:nth-child(2),
.columns-3 tbody td:nth-child(2) {
    display: none;
}

.columns-3 tbody .a11y-when-small {
    display: block;
}

.chart-table__count {
    width: 25%;
}

.event {
    background: hsl(149, 60.8%, 90%);
    display: grid;
    grid-area: events;
    grid-template-rows: auto 1rem;
    grid-template-areas:
        "content"
        "meta";
    min-height: var(--card-unit-height);
    position: absolute;
    width: 100%;
    z-index: 2;
}

.event::before {
    background: hsl(149, 60%, 70%);
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    top: 0;
    width: 100%;
}

.event-body {
    display: flex;
    flex-direction: column;
    grid-area: content;
    overflow-x: hidden;
    margin: .25rem .5rem;
}

.event-time {
    background: hsl(149, 60%, 70%);
    left: -2.625rem;
    padding: 2px;
    position: absolute;
    top: 0;
}

.hour {
    display: grid;
    grid-template-columns: 90px auto;
    grid-template-areas: "times events";
    min-height: var(--event-unit-height);
    position: relative;
}

.hour::before {
    background: hsla(0, 0%, 50%, .1);
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    top: 0;
    width: 100%;
}

.event-duration {
    align-self: flex-end;
    display: inline-block;
    font-size: .75rem;
    grid-area: meta;
    margin: 0 .25rem;
    padding: .125rem .25rem;
}

.event-track-name,
.event-artist-name {
    display: inline-block;
    white-space: nowrap;
}

.event-artist-name {
    font-size: 0.875rem;
}

.separator {
    display: none;
}


@media (min-width: 32rem) {
    .columns-2 th,
    .columns-2 td {
        width: 50%;
    }

    .chart-table__count {
        text-align: left;
    }
}

@media (min-width: 40rem) {
    .chart-table.columns-3 thead th:nth-child(2),
    .chart-table.columns-3 tbody td:nth-child(2) {
        display: table-cell;
    }

    .chart-table.columns-3 tbody .a11y-when-small {
        display: none;
    }

    .chart-table.columns-3 th,
    .chart-table.columns-3 td {
        width: calc(100% / 3);
    }
}
