<!DOCTYPE html>
<html>
    <head>
        <title>Have I Played Bowie Today?</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            body {
                font-family: "Segoe UI", sans-serif;
            }

            h1 {
                font-size: 1.5rem;
            }

            h2 {
                font-size: 1rem;
                font-weight: bold;
            }

            ul {
                padding-left: 0;
            }

            li {
                display: inline-block;
                list-style: none;
            }

            li {
                margin: 0;
            }

            li:first-child {
                margin-right: 1em;
            }

            td {
                vertical-align: top;
            }
        </style>
    </head>
    <body>
        <header>
            <h1>Have I Played Bowie Today?</h1>
            <nav>
                <a href="/charts/2019">2019 Charts</a>
            </nav>
        </header>
        <main>
            {{{content}}}
        </main>
        <footer>
            <p>Currently only data for 2019 is available to browse.</p>
            <p>This is a personal project by Ian Huntington. Listening history is liberated from Last.fm with additional track and artist details from Spotify.</p>
        </footer>
    </body>
</html>
