<table class="chart-table chart-table--image">
    <thead>
        <tr>
            <th>Artist</th>
            <th class="chart-table__count">Plays</th>
        </tr>
    </thead>
    <tbody>
        {{#each this.items}}
        <tr>
            <td>
                <div class="image__wrapper">
                    {{> images/cover images=this.images}}
                    <a href="/artists/{{this.id}}">{{this.name}}</a>
                </div>
            </td>
            <td class="chart-table__count">
                {{this.total}}
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
